/* COMMON
------------------------- */

h2 {
	font-size: 1.8em;
	text-align: center;
}

form {
	margin: 10px 0;
}

/* HEADER
------------------------- */

.nav-tabs{
	margin-bottom: 0px;
}

/* CONTENT
------------------------- */

.tab-content{

}

#craft .table, #craft .duration {
	text-align: left;
}

/* Form */
.input-text{
	padding: 5px;
}

.form-group {
	margin-top: 5px;
}

#form-craft button{
	margin: 5px 5px;
}

/* OTHER
------------------------- */

a:focus{
	outline: none;
}

/* MEDIA
------------------------- */

@media screen and (min-width: 768px) {
	.input-text{
		max-width: 60px;
	}

	#craft .alert {
		width: 500px;

		margin: 0 auto;
	}
}