/* COMMON
------------------------- */

h2 {
	font-size: 1.8em;
	text-align: center;
}

form {
	margin: 10px 0;
}

/* HEADER
------------------------- */

.nav-tabs{
	margin-bottom: 0px;
}

/* CONTENT
------------------------- */

.tab-content{

}

.table, #craft .duration {
	text-align: left;
}

/* Form */
.form-group {
	margin-top: 5px;
}

#form-craft button{
	margin: 5px 0px;
}
#form-craft button:last-of-type, #form-ini button:last-of-type{
	margin: 5px 10px;
}
#form-craft #semi-auto {
	margin-left: -8px;

	border-left: 1px solid #000;
}

.input-text{
	padding: 5px;
}

#initiative table input {
	margin-top: -5px;
}

.input-hp{
	max-width: 40px;
}

#initiative table td>i {
	display: none;
}

.second-name {
	display: none;
}

#round {
	float: left;

	font-weight: bold;
}

#prev-turn, #next-turn {
	float: right;

	margin: 0px 3px;
}

.delete-creature {
	padding: 1px 5px 0px 4px;
}

/* OTHER
------------------------- */

a:focus{
	outline: none;
}

/* MEDIA
------------------------- */

@media screen and (min-width: 768px) {
	.input-text{
		max-width: 60px;
	}
	.input-text-small{
		max-width: 50px;
	}

	#craft .alert {
		width: 500px;

		margin: 0 auto;
	}
}